# Handle line endings automatically for text files
* text=auto

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf
gradlew text eol=lf
*.bat text eol=crlf

# Explicitly declare binary files that must not be modified by line-ending conversion
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
